<%= render @bug %>
<div>
  <%= link_to "Edit this bug", edit_project_bug_path(@project )%> |
  <%= link_to "Back to bugs", project_bugs_path(@project) %>


  <%= button_to "Destroy this bug", project_bug_path, method: :delete %>
</div>
